:root {
  --font: 'Roboto', sans-serif;
  --font-small: 12px;
  --font-medium: 14px;
  --font-large: 16px;

  --font-color: #212529;
  --font-color-light: #f3f3f3;
  --background-color: #f3f3f3;
  --background-color-dark: #212529;
  --border-color: #e0e0e0;
  --white-color: #fff;

  --waring-color: #ffc107;
  --waring-color-light: #fff3cd;
  --success-color: #28a745;
  --success-color-light: #c3e6cb;
  --danger-color: #dc3545;
  --danger-color-light: #f8d7da;
  --info-color: #17a2b8;
  --info-color-light: #bee5eb;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font-color);
    text-align: left;
    background-color: var(--white-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
textarea {
  line-height: 28px;
  padding: 0 10px;
  font-size: var(--font-small);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 100%;
}

imput.small {
  width: 50%;
}

label {
  font-size: var(--font-small);
  font-weight: 500;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  font-size: var(--font-small);
  font-weight: 500;
  padding: 0 20px;
  line-height: 28px;
  border: none;
  border-radius: 3px;
  background-color: var(--background-color-dark);
  color: var(--font-color-light);
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: var(--background-color);
  color: var(--font-color);
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  background-color: var(--background-color);
  color: gray
}


.warning {
  background-color: var(--waring-color-light);
  color: var(--waring-color);
}

.success {
  background-color: var(--success-color-light);
  color: var(--success-color);
}

.danger {
  background-color: var(--danger-color-light);
  color: var(--danger-color);
}

.info {
  background-color: var(--info-color-light);
  color: var(--info-color);
}
